<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('navbar', {links: links}) %>
  <% if (locals.user) {%>
    <h1>Logged in as <%- locals.user.fname %> <%- locals.user.lname %></h1>
    <% if(locals.user.status === 'basic') { %>
    <form action="/upgrade" method="POST">Upgrade to Member
      <input type="password" name="code" placeholder="Enter the secret code you received to become a member"/>
      <button type="submit">Become a Member</button>
  </form>
  <% } %>
  <% } else { %>
    <h1>LOG IN</h1>
    <form action="/login" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button type="submit">Log In</button>
    </form>
  <%}%>
</body>
</html>
