<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('navbar', {links: links}) %>
  <% if (locals.errors) {%>
    <ul>
      <% errors.forEach(function(error) { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  <% } %>
  <h1>Sign Up</h1>
  <form action="/signup" method="POST">
    <label for="fname">First name</label>
    <input id="fname" name="fname" placeholder="First Name" type="text" required/>
    <label for="lname">Last name</label>
    <input id="lname" name="lname" placeholder="Last Name" type="text" required/>
    <label for="username">Username</label>
    <input id="username" name="username" placeholder="username" type="text" required/>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" required/>
    <label for="repassword">Re-enter password</label>
    <input id="repassword" name="repassword" type="password" required/>
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>
