<!DOCTYPE html>
<html>
  <head>
    <title>Wrong code</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <%- include('navbar', {links: links}) %>
    <h1 class="codeError">!!You entered wrong code!!</h1>
  </body>
</html>
